.btn {
    border: 1px solid #E2E3E5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}